<div class="page-header">

    <script src='/assets/jquery/dist/jquery.min.js'></script>
  <script src='/assets/moment/min/moment.min.js'></script>
  <script src='/assets/fullcalendar/dist/fullcalendar.js'></script>
  <link rel='stylesheet' href='/assets/fullcalendar/dist/fullcalendar.css' />



  <%= link_to new_application_path, class: 'btn btn-primary' do %>
    <span class="glyphicon glyphicon-plus"></span>
    New Application
  <% end %>
    <script type="text/javascript">
    $(document).ready(function() {

    // page is now ready, initialize the calendar...

    $('#calendar').fullCalendar({
/*

          dayClick: function(date, jsEvent, view) {

          $.ajax({
                url: '/applications/put_events',
                type: 'post',
                data: {
                    // our hypothetical feed requires UNIX timestamps
                    // start: start.unix(),
                    // end: end.unix()
                    myDate: date;

                    // can send json or other things
                },
                success: function(doc) {
                    // var events = [];
                    // $(doc).find('event').each(function() {
                    //     events.push({
                    //         title: $(this).attr('title'),
                    //         start: $(this).attr('start') // will be parsed
                    //     });
                    // });
                    // callback(events);
                    alert (doc);
                }
            });

        alert('Clicked on: ' + date.format());

        alert('Coordinates: ' + jsEvent.pageX + ',' + jsEvent.pageY);

        alert('Current view: ' + view.name);

        // change the day's background color just for fun
        $(this).css('background-color', 'red');

    }
*/

    dayClick: function(date, jsEvent, view) {

      alert('Clicked on: ' + date.format());

        alert('Coordinates: ' + jsEvent.pageX + ',' + jsEvent.pageY);

        alert('Current view: ' + view.name);

        // change the day's background color just for fun
        $(this).css('background-color', 'red');

        $.ajax({
            url: '/applications/put_events',
            type: 'post',
            data: {
                // our hypothetical feed requires UNIX timestamps
                // start: start.unix(),
                // end: end.unix()
                myDate: date.format()
                // can send json or other things
            },
            success: function(doc) {
                // var events = [];
                // $(doc).find('event').each(function() {
                //     events.push({
                //         title: $(this).attr('title'),
                //         start: $(this).attr('start') // will be parsed
                //     });
                // });
                // callback(events);
                alert (doc);
            }

        });
         alert('Bassem');
    }
    /*,
   events: function(start, end, timezone, callback) {
        $.ajax({
            url: '/applications/load_events',
            type: 'get',
            data: {
                // our hypothetical feed requires UNIX timestamps
                // start: start.unix(),
                // end: end.unix()
                koko: "kkkkkkkkk"

                // can send json or other things
            },
            success: function(doc) {
                // var events = [];
                // $(doc).find('event').each(function() {
                //     events.push({
                //         title: $(this).attr('title'),
                //         start: $(this).attr('start') // will be parsed
                //     });
                // });
                // callback(events);
                alert (doc);
            }
        });
    }

*/

})

});
  </script>
  <%= link_to interviews_path, class: 'btn btn-default' do %>
    <span class="glyphicon glyphicon-list-alt"></span>
    Back
  <% end %>
  <%= link_to edit_interview_path(@interview), class: 'btn btn-primary' do %>
    <span class="glyphicon glyphicon-pencil"></span>
    Edit
  <% end %>
  <h1>Show interview</h1>
</div>

<dl class="dl-horizontal">
  <dt>Score:</dt>
  <dd><%= @interview.score %></dd>

  <dt>Application:</dt>
  <dd><%= @interview.application_id %></dd>

  <dt>Type:</dt>
  <dd><%= @interview.interview_type_id %></dd>

</dl>

<!-- I was unable to create a an interview with date -->